.margin-top {
  margin-top: 2rem;
}

.flex {
  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .possibleValues {
    font-size: 2rem;
    margin-left: 4rem;
    align-self: flex-end;

    @media only screen and (max-width: 600px) {
      margin-top: 2rem;
      margin-left: 0;
      align-self: self-start;
      width: 100%;
    }


    span {
      display: block;
      margin-bottom: 2rem;
    }

    .input {
      margin-bottom: 2rem;
    }

    .buttonGroup {
      display: flex;
      flex-direction: column;

      & > :not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}

.table {
  background: #fff;
  user-select: none;
  border: 2px solid #344861;
  font-size: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.gameWrapper {
  width: 50rem;
  height: 50rem;
  background-color: #f3f6fa;
  position: relative;
  margin-top: 3rem;

  .gameTable {
    background: #fff;
    user-select: none;
    border: 2px solid #344861;
    font-size: 3rem;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    tbody {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .selected {
      background: lightgray;
    }

    .isNew {
      color: red;
    }
  }

}

.row {
  display: flex;
  padding: 0;
  margin: 0;
  height: 11.11111%;

  &:nth-child(3n) {
    border-bottom: 2px solid #344861;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 11.11111%;
  position: relative;
  border-right: 1px solid #bec6d4;
  border-bottom: 1px solid #bec6d4;
  box-sizing: border-box;
  cursor: pointer;

  &:nth-child(3n+4) {
    border-left: 2px solid #344861;
  }
}
